
<h1>Exercise for <%= "#{@part.course.course} - #{@part.title} - #{@exercise.title}" %></h1>

<h2>Question</h2><%= button_tag 'Edit' %>
<h2>Facts</h2><%= button_tag 'Edit' %>
<h2>Conseptual plan</h2><%= button_tag 'Edit' %>
<h2>Solution</h2><%= button_tag 'Edit' %>
